# ignore raw data
**/*.csv
**/*.tsv
**/__pycache__/**
**/*.pdf
**/*.swp

**/*.shp
**/*.dbf
**/*.shx
**/*.prj

# no cache
**/.DS_Store
**/.ipynb_checkpoints/**
**/*.pyc

# include generated data
#!data/buildings.csv
